/* line 9, ../scss/logo.scss */
.center {
  position: absolute;
  top: 5em;
  left: 10em;
}

/* line 15, ../scss/logo.scss */
.logo {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  line-height: 1;
  color: black;
  background: white;
}

/* line 19, ../scss/logo.scss */
.html5 {
  padding-bottom: 10px;
  border-bottom-width: 6px;
  margin: 66px auto 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  width: 134px;
  height: 154px;
  display: block;
  position: relative;
}

/* line 23, ../scss/logo.scss */
.icon {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 27, ../scss/logo.scss */
.bg {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}
/* line 30, ../scss/logo.scss */
.bg .right {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  position: absolute;
  left: 64px;
  top: -1px;
  background: #e44c27;
  width: 40px;
  height: 112px;
  display: block;
  -webkit-transform: skew(-5deg);
  -moz-transform: skew(-5deg);
}
/* line 39, ../scss/logo.scss */
.bg .left {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  position: absolute;
  left: 15px;
  top: -1px;
  background: #e44c27;
  width: 40px;
  height: 112px;
  display: block;
  -webkit-transform: skew(5deg);
  -moz-transform: skew(5deg);
}
/* line 46, ../scss/logo.scss */
.bg .bottom {
  margin: 0px 10px;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  position: absolute;
  top: 111px;
  left: 11px;
  display: block;
  border-color: #e44c27 transparent transparent;
  border-style: solid;
  border-width: 18.5px 40px 0px;
  height: 0px;
  width: 0px;
}
/* line 55, ../scss/logo.scss */
.bg .middle {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  position: absolute;
  left: 30px;
  top: -1px;
  background: #e44c27;
  width: 48px;
  height: 111px;
  display: block;
}

/* line 63, ../scss/logo.scss */
.overlay {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  height: 400px;
  width: 150px;
  position: absolute;
  left: 61px;
  top: -88px;
  display: block;
  overflow: hidden;
}
/* line 68, ../scss/logo.scss */
.overlay .top {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  width: 78px;
  height: 99px;
  position: absolute;
  top: 96px;
  left: -43px;
  display: block;
  background: #f0652a;
  -webkit-transform: skew(-5deg);
  -moz-transform: skew(-5deg);
}
/* line 76, ../scss/logo.scss */
.overlay .bottom {
  margin: 0px 10px;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  position: absolute;
  top: 194px;
  left: -179px;
  display: block;
  border-color: #f0652a transparent transparent;
  border-style: solid;
  border-width: 40px 101px 0px;
  height: 0px;
  width: 0px;
}

/* line 4, ../scss/skills/_html5.scss */
.text {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}
/* line 6, ../scss/skills/_html5.scss */
.text .left {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  display: block;
  position: absolute;
  top: -121px;
  left: -123px;
  width: 163px;
  height: 400px;
}
/* line 8, ../scss/skills/_html5.scss */
.text .left .top {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  display: block;
  position: absolute;
  width: 34px;
  height: 15px;
  background: #ebebeb;
  top: 137px;
  left: 154px;
}
/* line 11, ../scss/skills/_html5.scss */
.text .left .left {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  display: block;
  position: absolute;
  width: 15px;
  height: 29px;
  background: #ebebeb;
  top: 152px;
  left: 155px;
  -webkit-transform: skew(5deg);
  -moz-transform: skew(5deg);
}
/* line 14, ../scss/skills/_html5.scss */
.text .left .middle {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  display: block;
  position: absolute;
  width: 26px;
  height: 12px;
  background: #ebebeb;
  top: 169px;
  left: 158px;
}
/* line 17, ../scss/skills/_html5.scss */
.text .left .bottom {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  display: block;
  position: absolute;
  width: 27px;
  height: 15px;
  background: #ebebeb;
  top: 207px;
  left: 159px;
  -webkit-transform: rotate(12deg);
  -moz-transform: rotate(12deg);
}
/* line 20, ../scss/skills/_html5.scss */
.text .left .vert {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  display: block;
  position: absolute;
  width: 12px;
  height: 25px;
  background: #ebebeb;
  top: 192px;
  left: 157px;
  -webkit-transform: skew(5deg);
  -moz-transform: skew(5deg);
}
/* line 24, ../scss/skills/_html5.scss */
.text .right {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  height: 400px;
  width: 150px;
  top: -122px;
  left: 61px;
  display: block;
  position: absolute;
  overflow: hidden;
}
/* line 26, ../scss/skills/_html5.scss */
.text .right .top {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  display: block;
  position: absolute;
  width: 31px;
  height: 15px;
  background: #ffffff;
  top: 138px;
  left: -3px;
  -webkit-transform: skew(-5deg);
  -moz-transform: skew(-5deg);
}
/* line 28, ../scss/skills/_html5.scss */
.text .right .right {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  height: 51px;
  width: 12px;
  left: 12px;
  top: 170px;
  position: absolute;
  overflow: hidden;
  background: #ffffff;
  -webkit-transform: skew(-5deg);
  -moz-transform: skew(-5deg);
}
/* line 30, ../scss/skills/_html5.scss */
.text .right .middle {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  display: block;
  position: absolute;
  width: 20px;
  height: 12px;
  background: #ffffff;
  top: 170px;
  left: 0px;
}
/* line 32, ../scss/skills/_html5.scss */
.text .right .bottom {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  display: block;
  position: absolute;
  width: 26px;
  height: 15px;
  background: #ffffff;
  top: 209px;
  left: -5px;
  -webkit-transform: rotate(-12deg);
  -moz-transform: rotate(-12deg);
}
